<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/didactica_ciencia_datos/blob/main/1_curso_machine_learning/3_preprocesamiento_datos/1_tecnicas_de_preprocesamiento_particulares/2_concatenacion_bases_de_datos/1_concatenacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/didactica_ciencia_datos/blob/main/1_curso_machine_learning/3_preprocesamiento_datos/1_tecnicas_de_preprocesamiento_particulares/2_concatenacion_bases_de_datos/1_concatenacion_datos.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

### [Video de apoyo a la lectura interactiva y experimental de este cuaderno](https://www.youtube.com/watch?v=ojz1W5BenX0&ab_channel=DiMathData)

## [Vínculo al programa del curso: Introducción a la ciencia de datos con Python:  ](https://github.com/marco-canas/didactica_ciencia_datos/blob/main/1_curso_machine_learning/0_plan_del_curso/1_programa_curso_machine_learning_python.docx)

Un reconocimiento a mis estudiantes que han construido conmigo este saber pedagógico:

<img src = 'https://github.com/marco-canas/didactica_ciencia_datos/blob/main/4_images/2_images_of_students/8_idalina_estudiante_maestria_2024-07-30_biologia.jpeg?raw=true'>

In [1]:
import pandas as pd
import numpy as np

# Cargar la lista de estudiantes desde la URL
path = '/home/marco/Documentos/docencia/groups_list/ml.csv'
estudiantes = pd.read_csv(path)
estudiantes['Parcial'] = estudiantes['Parcial'].astype(float) # hacer que todos los valores de la columna Parcial seen de tipo float

# Convertir la columna 'Nombre' a una lista de Python
lista_estudiantes = estudiantes['Nombre'].tolist()

# Función para llamar a un estudiante aleatoriamente y registrar su nota de seguimiento
def asistencia():
    if lista_estudiantes:
        estudiante_aleatorio = np.random.choice(lista_estudiantes)
        print(f"Llamando a {estudiante_aleatorio}...")
        asistencia = input(f"¿Asistió {estudiante_aleatorio}? (s/n): ").strip().lower()
        
        if asistencia == 's':
            # Obtener el índice del estudiante en el DataFrame
            indice = estudiantes[estudiantes['Nombre'] == estudiante_aleatorio].index[0]
            # Incrementar su valor en la columna 'Parcial'
            estudiantes.at[indice, 'Parcial'] += 0.1
            print(f"Actualizado: {estudiante_aleatorio} ahora tiene {estudiantes.at[indice, 'Parcial']} en la columna 'Parcial'.")
        
        lista_estudiantes.remove(estudiante_aleatorio)
    else:
        print("Se han llamado a todos los estudiantes del grupo completo.")

# Guardar los cambios en el archivo CSV
def guardar_cambios():
    estudiantes.to_csv(path, index=False)
    print("Cambios guardados en el archivo CSV.")

# Ejemplo de uso
while lista_estudiantes:
    asistencia()
    guardar_cambios()

KeyError: 'Parcial'


# Principios de mi labor docente

# Modelo general de clase: [aula invertida](https://www3.gobiernodecanarias.org/medusa/ecoescuela/pedagotic/aprendizaje-invertido-flipped-classroom/)

![Definamos flipped learning de manera gráfica](https://resources.maneuveringthemiddle.com/wp-content/uploads/2020/07/04212706/1-5.png)

# Metodología de enseñanza basada en problemas (ABP)

<img src = 'https://www.unir.net/wp-content/uploads/2020/07/aprendizaje-problemas2-1-1-1-1.jpeg'>

# Desarrollo del pensamiento coomputacional con python y cuadernos Jupyter  orientado a la formación en ciencia de datos 


<img src = 'https://i.ytimg.com/vi/mcG_wcR4e6M/maxresdefault.jpg'>

# Principio de fomento a la ciencia abierta, enseñar en el acceso a los datos públicos y el uso de software de código abierto  

<img src = 'https://unesdoc.unesco.org/in/rest/Thumb/image?id=p%3A%3Ausmarcdef_0000379949_spa&author=UNESCO&title=Recomendaci%C3%B3n+de+la+UNESCO+sobre+la+Ciencia+Abierta&year=2021&publisher=UNESCO&TypeOfDocument=UnescoPhysicalDocument&mat=PGD&ct=true&size=512&isPhysical=1'>

## Fomento de la lectura literaria asociada a Ingeniería agropecuaria y licenciatura en Matemáticas

[El arte de aprender a negociar](https://github.com/marco-canas/el_arte_de_aprender_a_negociar/blob/main/Fisher-Roger-Obtenga-El-Si-psicologia.pdf)

## Título de la clase: Concatenación de dataframe  

[]()

## Cuestionario para realizar labores de memorización, observación y síntesis de la información (Además de diagnóstico)  
[Realizar encuesta para participacion de todos los estudiantes para diagnosticar presaberes para la clase: mentimeter](https://www.mentimeter.com/es-ES/education/lectures)

1. ¿?
2. ¿?
3. ¿?
4. ¿?
5. ¿?

# Definiciones y Resultados científicos a comprender y memorizar 

[Primera grabación en Vocaroo]()

## Establecimiento de prerrequisitos conceptuales para alcanzar el objetivo de aprendizaje trazado.   

(Elabore una lista de preguntas al rededor de los conceptos que consideres necesarios para empezar la clase).  

1. 
2. 
3.

# Para el diseño de la clase tenga en cuenta algunos problemas de aprendizaje

## Secuencia conceptual introductoria a la clase

## El componente histórico y epistemológico

# Vocabulary   

1. 
2.  
3.  
4.  
5.

In [4]:
# Traducción del inglés al español con python

def traducir(texto):
    from googletrans import Translator

    translator = Translator() # instancia la clase 

    # Traducir al español
    translation = translator.translate(texto, src='en', dest='es')
    return translation.text

In [5]:
traducir('Hi')

'Hola'

In [21]:
# mapa conceptual para cada clase
from graphviz import Digraph

# Crear un nuevo grafo dirigido
dot = Digraph()

# Concepto principal
main_concept = 'La función pandas.concat()'
dot.node('A', main_concept)

# Añadir nodos relacionados
dot.node('B', 'Combina \n DataFrames/Series')
dot.node('C', 'Parámetro \n axis: 0 o 1')
dot.node('D', 'Concatenación \n por filas (axis=0)')
dot.node('E', 'Concatenación \n por columnas (axis=1)')
dot.node('F', 'Parámetro \n join: inner/outer')
dot.node('G', 'Unión \n interna')
dot.node('H', 'Unión \n externa')
dot.node('I', 'Parámetro \n ignore_index')
dot.node('J', 'Parámetro \n keys')

# Relacionar nodos
dot.edge('A', 'B')
dot.edge('B', 'C')
dot.edge('C', 'D')
dot.edge('C', 'E')
dot.edge('B', 'F')
dot.edge('F', 'G')
dot.edge('F', 'H')
dot.edge('B', 'I')
dot.edge('B', 'J')

# Guardar el grafo como un archivo de imagen
dot.render(filename=main_concept, format='png', cleanup=True, 
           directory='/home/marco/Documentos/investigaci/didactica_ciencia_datos/'\
           +'4_images/4_images_of_course/1_preprocesamiento')

# Visualizar el grafo
dot.view()

'/home/marco/Documentos/investigaci/didactica_ciencia_datos/4_images/4_images_of_course/1_preprocesamiento/La función pandas.concat().pdf'

# La función `pandas.concat()` 

### Clase: Uso de la función `pandas.concat()` en Ciencia de Datos con Python

**Objetivo de aprendizaje**:  
Al finalizar esta clase, los estudiantes serán capaces de utilizar la función `pandas.concat()` para concatenar o combinar diferentes objetos `DataFrame` y `Series` en Python, una habilidad esencial para la manipulación y análisis de datos en ciencia de datos.

---

#### 1. **Introducción a `pandas.concat()`**  

* La función `pandas.concat()` es una herramienta del módulo `pandas` que permite combinar objetos de datos (como `DataFrame` y `Series`) a lo largo de un eje (filas o columnas). 
* Es útil cuando necesitamos unir varias tablas que comparten o no un esquema similar.

---

#### 2. **Sintaxis de `pandas.concat()`**
```python
pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)
```

# Parámetros importantes:  

- **`objs`**: Lista o tupla de objetos a concatenar (puede ser `DataFrame` o `Series`).
  
- **`axis`**: Define el eje de concatenación: `0` para filas (por defecto, uno debajo del otro) y `1` para columnas(concatena uno al dado del otro).
  
- **`join`**: Tipo de unión; `outer` (por defecto) para unión externa (mantiene todos los índices) y `inner` para unión interna (solo los índices comunes).
  
- **`ignore_index`**: Si es `True`, ignora los índices originales y asigna nuevos índices.
  
- **`keys`**: Etiquetas para los diferentes objetos concatenados.
  
---

#### 3. **Ejemplo básico de concatenación de `DataFrames`**

Imaginemos que tenemos dos `DataFrames` con información de ventas de dos sucursales de una tienda:

In [4]:

import pandas as pd

# Datos de la sucursal A
df_a = pd.DataFrame({
    'Producto': ['A', 'B', 'C'],
    'Ventas': [10, 20, 30]
})

# Datos de la sucursal B
df_b = pd.DataFrame({
    'Producto': ['D', 'E', 'F'],
    'Ventas': [40, 50, 60]
})

# Concatenar por filas (axis=0)
df_concat = pd.concat([df_a, df_b], axis=0)
df_concat

  Producto  Ventas
0        A      10
1        B      20
2        C      30
0        D      40
1        E      50
2        F      60


En este ejemplo, los dos `DataFrames` se concatenan uno debajo del otro (a lo largo de las filas), creando un nuevo `DataFrame`.

---

#### 4. **Concatenación por columnas (`axis=1`)**

Podemos unir los `DataFrames` por columnas. Veamos un ejemplo donde ambos `DataFrames` tienen diferentes columnas:

In [7]:
df_c = pd.DataFrame({
    'Producto': ['A', 'B', 'C'],
    'Descuento': [5, 10, 15]
})

# Concatenar por columnas (axis=1)
df_concat_col = pd.concat([df_a, df_c], axis=1)
df_concat_col

  Producto  Ventas Producto  Descuento
0        A      10        A          5
1        B      20        B         10
2        C      30        C         15

---

#### 5. **Uso de `ignore_index`**

Si queremos ignorar los índices originales de los `DataFrames` y crear un nuevo índice secuencial:

In [10]:

df_concat_index = pd.concat([df_a, df_b], ignore_index=True)
df_concat_index

  Producto  Ventas
0        A      10
1        B      20
2        C      30
3        D      40
4        E      50
5        F      60

---

#### 6. **Concatenación con `join`**

Si los `DataFrames` tienen diferentes columnas, el parámetro `join` define cómo queremos realizar la concatenación. Si usamos `join='inner'`, solo se unirán las columnas que ambos `DataFrames` comparten:

In [16]:

df_d = pd.DataFrame({
    'Producto': ['A', 'B', 'C'],
    'Stock': [100, 150, 200]
})

# Concatenar con join 'inner'
df_concat_inner = pd.concat([df_a, df_d], join='inner', axis=1)
df_concat_inner

  Producto  Ventas Producto  Stock
0        A      10        A    100
1        B      20        B    150
2        C      30        C    200

#### 7. **Asignación de claves con `keys`**

Podemos agregar una clave a cada objeto concatenado para identificar de dónde proviene cada fila:

In [17]:

df_concat_keys = pd.concat([df_a, df_b], keys=['Sucursal A', 'Sucursal B'])
df_concat_keys

             Producto  Ventas
Sucursal A 0        A      10
           1        B      20
           2        C      30
Sucursal B 0        D      40
           1        E      50
           2        F      60

---

#### 8. **Ejercicio práctico**

1. Crea dos `DataFrames` con datos de ventas de dos años diferentes. Cada uno debe tener las columnas `Producto`, `Ventas` y `Mes`.
2. Usa `pandas.concat()` para unir los datos de ambos años en un único `DataFrame`, y luego filtra las ventas del primer trimestre.
3. Experimenta con los parámetros `axis`, `join`, y `ignore_index` para observar cómo cambia el resultado.

---

### Conclusión  

* La función `pandas.concat()` es una herramienta flexible para combinar datos en proyectos de ciencia de datos. 
* Puede manejar datos de diferentes fuentes y permite adaptarse a distintas estructuras.
* La práctica con este método es clave para manejar conjuntos de datos más complejos en el análisis de datos.

# Ejemplo ilustrativo

# 10 ejercicios de entrenamiento o adquisición de habilidades obtenido a través de ChatGPT para una formación personalizada y centrada en la habilidad que se quiere lograr con la enseñanza del ejemplo anterior

In [2]:
# Tarea 1 de lectura de ejemplos y completación de procedimientos
# asignación de tarea para realizar antes de clase
# Consiste en leer y completar un ejemplo de texto guía
# Esta tarea es para realizar solo de manera manuscrita en su cuaderno de clase. 
# La otra opción de presentación es elaborada en cuadernos Jupyter (En este caso solo debe realizar la cuarta parte de los ejercicios asignados)
# 

import pandas as pd
import numpy as np
import requests
np.random.seed(1213)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'calculo_vectorial'
nombre_texto_guia = 'Purcell'
pagina_y_seccion = 'Página_202_Sección_3.8'
numero_ejemplos_de_la_seccion = 27
numero_de_ejemplos_asignados = 10


# Descargar la lista de  estudiantes
students_path = "/home/marco/Documentos/docencia/groups_list/" + grupo_estudiantes + ".csv"
examples = list(range(1, numero_ejemplos_de_la_seccion))  

students_data = pd.read_csv(students_path)

# Crear una lista para almacenar las asignaciones
assignments = []

# Asignar ejercicios aleatorios a cada estudiante
for index, student in students_data.iterrows():
    # Seleccionar 5 ejercicios aleatorios sin repetición
    random_exercises = np.sort(np.random.choice(examples, numero_de_ejemplos_asignados, \
                                                replace = False)+ 1)
    assignments.append([students_data["Nombre"][index], *random_exercises])  # Agregar asignación a la lista

# Crear un DataFrame con las asignaciones
columns = ["Student"] + [ "Example" + str(i+1) for i in range(numero_de_ejemplos_asignados)]
assignment_df = pd.DataFrame(assignments, columns=columns)

# Guardar el DataFrame en un archivo CSV
assignment_csv = "tarea_1_lectura_y_completacion_ejemplos" + "_" + nombre_texto_guia + "_"+ pagina_y_seccion + ".csv"
assignment_df.to_csv(assignment_csv, index=False)

print("""Tarea 1 de lectura de ejemplos y completación de procedimientos: 
     Si faltan los enunciados de los problemas, no se valora la tarea
    Si faltan de la conclusión verbales, no se valora la tarea.
    Esta tarea se valora solo si la presenta de manera manuscrita en su cuaderno de clase.  
      """, assignment_csv)
assignment_df

Tarea 1 de lectura de ejemplos y completación de procedimientos:
     Si faltan los enunciados de los problemas, no se valora la tarea
    Si faltan de la conclusión verbales, no se valora la tarea.
    Esta tarea se valora solo si la presenta de manera manuscrita en su cuaderno de clase.
       tarea_1_lectura_y_completacion_ejemplos_Purcell_Página_202_Sección_3.8.csv

,Student,Example1,Example2,Example3,Example4,Example5,Example6,Example7,Example8,Example9,Example10
0,AMARIS FERNANDEZ SEBASTIAN CAMILO,4,9,10,11,15,19,20,21,22,24
1,ARENAS HERAZO GABRIEL ENRIQUE,2,6,7,15,16,17,18,19,22,27
2,AYALA MENDOZA MARISOL YACIRA,2,4,8,10,11,14,16,20,25,26
3,BERTEL RODELO MICHELL SMIT,10,11,14,15,16,17,18,20,24,27
4,BULA VERGARA MARIA PAULA,5,7,9,16,17,19,22,24,25,26
5,CANTILLO ENSUCHO DANIEL,5,6,9,15,17,18,20,23,24,26
6,CERVANTES DURAN ANGELICA,4,5,8,9,12,13,19,23,26,27
7,GUERRA NORIEGA YONATHAN,2,3,6,7,10,11,21,23,24,26
8,HINCAPIE CASTRO JOHAN SEBASTIAN,4,8,10,12,15,16,20,23,24,27
9,HUMANEZ SANCHEZ CAMILO,4,5,14,16,20,21,23,24,25,26
10,IBAÑEZ MORENO FRANCISCO LUIS,2,3,10,13,14,18,19,21,23,26
11,MASS MIRANDA RIVALDO JOSE,2,4,5,7,9,10,11,17,21,23
12,MIRANDA MARTINEZ CARLOS ANDRES,7,11,12,13,16,17,18,21,22,24
13,MONTERROSA SOTO ABRIL,4,12,13,14,16,19,21,23,26,27
14,NORIEGA JIMENEZ GABRIELA,3,6,8,9,10,11,13,15,16,27
15,PEREZ REYES IVAN DARIO,2,3,10,13,17,22,24,25,26,27
16,PEREZ THERAN ERLINDA,4,5,11,13,16,19,20,21,22,25
17,PINEDA ROMERO YOSMERI,4,5,6,8,9,11,12,16,17,27
18,QUINONEZ CERVANTES MARIANA,8,10,11,12,15,17,21,22,24,26
19,RAMOS PEREZ YANINE,6,7,10,14,16,20,21,23,24,25
20,RIVAS HOYOS ESTEFANIA,3,4,6,7,11,16,22,23,25,26
21,ROSILLO TEJADA VANESA,2,4,14,15,16,20,22,25,26,27
22,SANCHEZ PADILLA SILVESTRE,4,6,8,11,15,19,22,23,25,26
23,SILVA ROYERO MAILY CRISTINA,7,8,12,14,15,17,18,21,26,27
24,USUGA GEORGE JHON ESTIVEN,3,7,8,10,16,18,23,24,25,27

# Componente de manejo de calculadora Casio asociado al objetivo de aprendizaje de esta clase  

## Pasos para lograr el objetivo de aprendizaje con la experimentación en la calculadora casio 570

# Tareas para realizar en clase

In [3]:
# Tarea 2 de solución de problemas 
# asignación de ejercicios de un seccion del texto guía

# numpy.random.choice() obten la documentación de esta función en: 
# https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html

import pandas as pd
import numpy as np
import requests
np.random.seed(424)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'calculo_vectorial'
nombre_texto_guia = 'Purcell'
pagina_y_seccion = 'Página_202_Sección_3.8'
numero_ejercicios_taller = 54
numero_de_ejercicios_asignados = 10


# Descargar la lista de  estudiantes
students_path = "/home/marco/Documentos/docencia/groups_list/" + grupo_estudiantes + ".csv"
exercises = list(range(1, numero_ejercicios_taller))  

students_data = pd.read_csv(students_path)

# Crear una lista para almacenar las asignaciones
assignments = []

# Asignar ejercicios aleatorios a cada estudiante
for index, student in students_data.iterrows():
    # Seleccionar 5 ejercicios aleatorios sin repetición
    random_exercises = np.random.choice(exercises, numero_de_ejercicios_asignados, replace = False)+ 1 
    assignments.append([students_data["Nombre"][index], *random_exercises])  # Agregar asignación a la lista

# Crear un DataFrame con las asignaciones
columns = ["Student"] + [ "Exer" + str(i+1) for i in range(numero_de_ejercicios_asignados)]
assignment_df = pd.DataFrame(assignments, columns=columns)

# Guardar el DataFrame en un archivo CSV
assignment_csv = "tarea" + "_" + nombre_texto_guia + "_"+ pagina_y_seccion + ".csv"
assignment_df.to_csv(assignment_csv, index=False)

print("""Tarea 2 de solución de problemas:
      Si faltan los enunciados de los problemas, no se valora la tarea.
      Si faltan de la conclusión verbales, no se valora la tarea.
      Esta tarea se valora solo si la presenta de manera manuscrita en su cuaderno de clase.  
        """, assignment_csv)
assignment_df

Tarea 2 de solución de problemas:
      Si faltan los enunciados de los problemas, no se valora la tarea.
      Si faltan de la conclusión verbales, no se valora la tarea.
      Esta tarea se valora solo si la presenta de manera manuscrita en su cuaderno de clase.
         tarea_Purcell_Página_202_Sección_3.8.csv

,Student,Exer1,Exer2,Exer3,Exer4,Exer5,Exer6,Exer7,Exer8,Exer9,Exer10
0,AMARIS FERNANDEZ SEBASTIAN CAMILO,47,2,52,29,21,4,36,54,35,53
1,ARENAS HERAZO GABRIEL ENRIQUE,42,23,44,20,2,34,45,43,37,8
2,AYALA MENDOZA MARISOL YACIRA,45,26,20,10,35,36,23,29,31,12
3,BERTEL RODELO MICHELL SMIT,24,18,39,54,5,19,38,41,30,28
4,BULA VERGARA MARIA PAULA,9,23,32,46,18,48,34,21,10,33
5,CANTILLO ENSUCHO DANIEL,34,5,44,43,21,23,40,36,18,51
6,CERVANTES DURAN ANGELICA,2,20,43,7,32,11,23,12,22,34
7,GUERRA NORIEGA YONATHAN,46,39,20,19,36,42,12,23,25,34
8,HINCAPIE CASTRO JOHAN SEBASTIAN,19,7,6,34,30,37,18,41,11,24
9,HUMANEZ SANCHEZ CAMILO,54,46,2,35,9,7,31,11,34,23
10,IBAÑEZ MORENO FRANCISCO LUIS,47,53,42,46,4,54,30,13,50,36
11,MASS MIRANDA RIVALDO JOSE,5,14,43,16,33,28,8,41,52,2
12,MIRANDA MARTINEZ CARLOS ANDRES,25,31,16,47,26,48,32,40,27,3
13,MONTERROSA SOTO ABRIL,4,26,30,25,33,13,7,23,19,14
14,NORIEGA JIMENEZ GABRIELA,19,11,43,47,21,13,38,29,33,50
15,PEREZ REYES IVAN DARIO,15,10,45,14,21,36,42,30,13,29
16,PEREZ THERAN ERLINDA,5,52,10,32,35,21,11,15,46,39
17,PINEDA ROMERO YOSMERI,10,52,24,6,50,26,41,18,7,21
18,QUINONEZ CERVANTES MARIANA,39,38,12,22,17,47,52,27,53,34
19,RAMOS PEREZ YANINE,52,3,46,23,50,25,51,39,20,35
20,RIVAS HOYOS ESTEFANIA,6,20,49,37,18,15,33,25,43,24
21,ROSILLO TEJADA VANESA,17,24,27,41,37,21,51,50,11,42
22,SANCHEZ PADILLA SILVESTRE,7,32,45,14,10,47,6,3,38,12
23,SILVA ROYERO MAILY CRISTINA,14,13,18,38,11,2,3,4,22,32
24,USUGA GEORGE JHON ESTIVEN,11,12,45,43,15,13,49,18,31,28

## Asignación individual de tareas semanales

In [5]:
# Tarea 3 de solución de problemas describiendo procedimientos y justificándolos

# asignación de ejercicios de un seccion del texto guía

# numpy.random.choice() obten la documentación de esta función en: 
# https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html

import pandas as pd
import numpy as np
import requests
np.random.seed(126)  # establecer semilla aleatoria para hacer los resultados reproducibles



grupo_estudiantes = 'calculo_vectorial'
nombre_texto_guia = 'Purcell'
pagina_y_seccion = 'Página_202_Sección_3.8'
numero_ejercicios_taller = 54
numero_de_ejercicios_asignados = 10


# Descargar la lista de  estudiantes
students_path = "/home/marco/Documentos/docencia/groups_list/" + grupo_estudiantes + ".csv"
exercises = list(range(1, numero_ejercicios_taller))  

students_data = pd.read_csv(students_path)

# Crear una lista para almacenar las asignaciones
assignments = []

# Asignar ejercicios aleatorios a cada estudiante
for index, student in students_data.iterrows():
    # Seleccionar 5 ejercicios aleatorios sin repetición
    random_exercises = np.sort(np.random.choice(exercises, numero_de_ejercicios_asignados,\
                                                 replace = False)+ 1) 
    assignments.append([students_data["Nombre"][index], *random_exercises])  # Agregar asignación a la lista

# Crear un DataFrame con las asignaciones
columns = ["Student"] + [ "Exer" + str(i+1) for i in range(numero_de_ejercicios_asignados)]
assignment_df = pd.DataFrame(assignments, columns=columns)

# Guardar el DataFrame en un archivo CSV
assignment_csv = "tarea" + "_" + nombre_texto_guia + "_"+ pagina_y_seccion + ".csv"
assignment_df.to_csv(assignment_csv, index=False)

print("""Tarea 3 Solución problemas describiendo y justificando verbalmente: 
      Si faltan los enunciados de los problemas, no se valora la tarea
      Si faltan de la conclusión verbales, no se valora la tarea 
      Esta tarea se valora solo si la presenta de manera manuscrita en su cuaderno de clase  
      """, assignment_csv)
assignment_df

Tarea 3 Solución problemas describiendo y justificando verbalmente:
      Si faltan los enunciados de los problemas, no se valora la tarea
      Si faltan de la conclusión verbales, no se valora la tarea
      Esta tarea se valora solo si la presenta de manera manuscrita en su cuaderno de clase
       tarea_Purcell_Página_202_Sección_3.8.csv

,Student,Exer1,Exer2,Exer3,Exer4,Exer5,Exer6,Exer7,Exer8,Exer9,Exer10
0,AMARIS FERNANDEZ SEBASTIAN CAMILO,4,7,9,17,21,30,39,44,51,54
1,ARENAS HERAZO GABRIEL ENRIQUE,2,5,11,17,26,28,32,40,46,50
2,AYALA MENDOZA MARISOL YACIRA,10,18,21,37,39,45,46,47,51,52
3,BERTEL RODELO MICHELL SMIT,4,8,20,26,28,33,40,41,42,47
4,BULA VERGARA MARIA PAULA,12,13,20,23,25,27,29,30,34,48
5,CANTILLO ENSUCHO DANIEL,2,4,5,7,15,25,27,33,46,51
6,CERVANTES DURAN ANGELICA,2,4,5,14,17,19,22,24,34,52
7,GUERRA NORIEGA YONATHAN,3,20,24,26,28,35,39,48,49,53
8,HINCAPIE CASTRO JOHAN SEBASTIAN,10,17,27,28,29,32,36,44,48,54
9,HUMANEZ SANCHEZ CAMILO,3,16,19,24,33,41,43,44,47,49
10,IBAÑEZ MORENO FRANCISCO LUIS,3,8,13,16,21,27,28,31,42,43
11,MASS MIRANDA RIVALDO JOSE,2,3,12,13,23,24,31,35,46,52
12,MIRANDA MARTINEZ CARLOS ANDRES,10,12,21,24,25,26,27,29,39,50
13,MONTERROSA SOTO ABRIL,10,14,16,18,28,30,35,36,42,50
14,NORIEGA JIMENEZ GABRIELA,4,13,14,16,19,22,36,37,46,51
15,PEREZ REYES IVAN DARIO,17,19,23,26,30,33,34,40,46,53
16,PEREZ THERAN ERLINDA,3,6,19,21,25,30,32,39,42,45
17,PINEDA ROMERO YOSMERI,2,30,31,32,35,36,37,42,47,50
18,QUINONEZ CERVANTES MARIANA,5,6,8,13,15,32,33,42,46,49
19,RAMOS PEREZ YANINE,11,20,21,28,29,37,39,44,46,52
20,RIVAS HOYOS ESTEFANIA,7,10,12,14,17,25,28,30,37,48
21,ROSILLO TEJADA VANESA,12,22,23,27,28,30,34,36,40,44
22,SANCHEZ PADILLA SILVESTRE,4,7,15,22,32,34,38,43,48,53
23,SILVA ROYERO MAILY CRISTINA,4,5,12,13,20,25,30,35,42,54
24,USUGA GEORGE JHON ESTIVEN,5,7,8,10,22,37,39,42,44,51

# Horario de clases del profesor Marco

* Lunes 8-12: Cálculo Vectorial
* Martes 8-12 M: Fundamentos de Aritmética. 
* Miércoles 8 a 12 M: Fundamentos de la Lógica
* Jueves 2 a 6PM: Desarrollo del pensamiento matemático en la infancia. 
* Viernes 8 - 12 M: Desarrollo del pensamiento matemático en la infancia.

# Horarios de monitoría y asesoría

## Monitor Manuel San Juan Serrano

Contactar escribiendo al correo: manuel.serrano1@udea.edu.co

Martes y jueves de 8 - 12  
Miércoles 10 - 12 y de 2 a 4 PM  
Sábado: 8 - 12

## Monitoría virtual   

Telefono del monitos en whatsApp: 3043936088  

Juan David Cano Castrillón  
Estudiante de Pregrado.  
juan.canoc1@udea.edu.co  
3043936088

## Referentes

* [Grajales Vanegas, L. M., Restrepo Estrada, C. E., Restrepo Ochoa, S. I., & Ruíz De Villalba, F. (2015). Matemáticas I para las ciencias económicas.](https://github.com/marco-canas/fundamentos_de_la_aritmetica/blob/main/referentes/2_grajales_logica/grajales_lina_matemticas.pdf)
  
* Duval, R. (2004). Semiosis y pensamiento humano: registros semióticos y aprendizajes intelectuales. Universidad del Valle.

* [Aylwin, C. U. (2011). Lógica, conjuntos y números. Universidad de los Andes, Consejo de Publicaciones, Colección: Ciencias Básicas, Serie: Matemáticas.](https://github.com/marco-canas/fundamentos_logica/blob/main/referentes/2_uzcategui/uscategui.pdf)
  
* [Chollet, F. (2021). Deep learning with Python. Simon and Schuster.](https://github.com/marco-canas/didactica_ciencia_datos/blob/main/2_referentes/chollet/Fran%C3%A7ois%20Chollet%20-%20Deep%20Learning%20with%20Python-Manning%20(2018).pdf)  
  
* [Watson, S., Stewart, J., & Redlin, L. (2009). Precálculo. Matemáticas para el cálculo.](https://github.com/marco-canas/calculo/blob/main/referents/1_precalculo_stewart/stewart_precalculo.pdf)  

* [Purcell, E. J., Varberg, D., & Rigdon, S. E. (2007). Cálculo diferencial e integral. Pearson Educación.](https://github.com/marco-canas/calculo/blob/main/referents/purcell/purcell_calculo.pdf)

  

* [stewart cálculo](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/EZgXZjAp8QxPqOAim2hs6LcBNPLGjSHf-xwYnUVYkwa04w?e=RZdTCy)  

* [larson](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/ES71ChFeO9ZDhW3TwC5Ijk8BjxUK3Pdqz_fjHxTTFAfIAg?e=VDEjfu)



* [Recomendación de la UNESCO sobre ciencia abierta](https://unesdoc.unesco.org/ark:/48223/pf0000379949_spa)

* [chatGPT](https://openai.com/blog/chatgpt)  

* [Géron, A. (2017). Hands-on machine learning with scikit-learn and tensorflow: Concepts. Tools, and Techniques to build intelligent systems.](https://github.com/marco-canas/didactica_ciencia_datos/blob/main/2_referentes/geron/Hands-On%20Machine%20Learning-3nd_Edition(2022).pdf)  

* [McKinney, W. (2012). Python for data analysis: Data wrangling with Pandas, NumPy, and IPython. " O'Reilly Media, Inc.".](https://github.com/marco-canas/didactica_ciencia_datos/blob/main/2_referentes/mckinney/Wes_McKinney.pdf)

# Como estudiante, encuentro que...   

F: Mis Fortalezas son:     
O: Mis Oportunidades son:    
D: Mis Debilidades son:    
A: Lo que Amenazas mi aprendizaje es:

### [Evaluamos al profesor Marco Cañas Aquí](https://forms.office.com/Pages/ResponsePage.aspx?id=IefhmYRxjkmK_7KtTlPBwkanXIs1i1FEujpsZgO6dXpUREJPV1kxUk1JV1ozTFJIQVNIQjY5WEY3US4u)

# Aportes de mis estudiantes a la metodología del curso  
1. 

Sus opiniones y aportes son muy importantes para mi. Pues esta es una investigación educativa y un servicio de enseñanza para ustedes. Ustedes son la razón de ser de mi actividad docente. Dios los bendiga.

# Aportes de mis colegas docentes a la metodología que estoy aplicando en mis cursos.

## [Evaluación luego de alcanzar estos objetivos de aprendizaje]()

### Continue su aprendizaje en la siguiente clase a través del siguiente [vínculo]()

## Agradecimientos  

Doy gracias a Dios por la vida de mi Hijo Joseph Cañas Osorio y la madurez que ha alcanzado.

Y a mi esposa Yasmira por su apoyo, orientación y acompañamiento.